<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Common head elements -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link rel="stylesheet" type='text/css' href="{% static 'base.css' %}">
</head>
<body>
    {% load static %}

    
    <header>
        <a href="/" class="home-icon">
            <img src="{% static 'coding-club-website-logo2.svg' %}" alt="Home">
        </a>
    </header>

    <!-- Main content block -->
    {% block content %}
    {% endblock %}
</body>
</html>
