{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>JFKS Coding Club</h1>
            <p>The Ultimate Guide</p>
        </div>
    </header>
    <nav>
        <div class="container">
            <ul>
            <!--<li><a href="#">Home</a></li>-->
                <li><a href="/python">Python</a></li>
                <li><a href="/turtle">Turtle</a></li>
                <li><a href="/html">HTML</a></li>
                <li><a href="/css">CSS</a></li>
                <li><a href="/pygame">Pygame</a></li>
                <li><a href="/django">Django</a></li>
                <li><a href="/javascript">JS</a></li>
                <li><a href="/java">Java</a></li>
                <li><a href="/django">GitHub</a></li>
                <li><a href="/django">Tips & Tricks</a></li>
            <!--<li><a href="/about">About</a></li>-->
            </ul>
        </div>
    </nav>
    <div class="intro">
        <h1>Welcome to the Coding Club!</h1>
        <p> Meeting times:</p>
        <p> Monday & Friday, @12:20, W105d (Library) </p>
        <p>Any questions? Send an email to <a href="mailto:coding-club@jfksberlin.org">coding-club@jfksberlin.org</a></p>
        <a href="/about/">Go to About Page</a>
    </div> 

    <h2 class="subheader">Getting Started</h2>

    <div class="explainer">
        <p>Watch this video to see how to get started with your first program.</p>
        <p>This video was made on a Mac, on Windows it will look a little different, but follow the same steps.</p>
        <video width="640" height="360" controls>
            <source src="{% static 'coding-club-intro-video.mov' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        
    </div>

</body>
</html>
{% endblock %}